<div class="form-group my-3">
    <label for="title">Title</label>
    <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control">
    
</div>

<div class="form-group my-3">
    <label for="description">Description</label>
    <textarea required name="description" id="description" class="form-control"><%= article.description %></textarea>
</div>

<div class="form-group my-3">
    <label for="markdown">Markdown</label>
    <textarea required name="markdown" id="markdown" class="form-control"><%= article.markdown %></textarea>
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary my-2">Save</button>

